<div class="w-full pt-8">
    <div class="w-3/4 mx-auto border border-slate-600 bg-slate-300 flex justify-center">
        <form>
            <div class="font-bold text-2xl my-4 p-3">
               <h1>Validaciones:</h1> 
            </div>
            <div class="my-5 p-3">
                <label for="">Nombre:</label>
                <input type="text" name="" id="">
                <span> (Debe tener como mínimo 10 caracteres)</span>
            </div>
            <div class="my-5 p-3">
                <label for="">Email:</label>
                <input type="email" name="" id="">
                <span> (El email no es válido)</span>
            </div>
            <div class="my-5 p-3">
                <label for="">Mensaje</label><br>
                <textarea class="w-full" name="" id="" cols="40" rows="5"></textarea>
            </div>
            <div class="my-5 p-3">
                <button class="py-1 px-4 text-center text-white bg-blue-500 rounded">Confirmar</button>
            </div>
        </form>
    </div>
</div>